@charset "utf-8";

h1,h2,h3,h4,h5,h6{font-family: 'Droid Serif', serif;}

h3, select{margin:10px 0 0 0;}

body{
	margin:0;
	padding:0;
	background:black;
	font-family: 'Arial', sans-serif;
}

#header{
	background:white;
	width:100%;
	float:left;
}

#content{
	background:#cccccc;
	width:100%;
	float:left;
}

#voet{
	background:black;
	color:white;
	width:100%;
	float:left;
	font-size:12px;
}

.container{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#canvas{
	width: 800px;
	height: 192px;
	float:left;
}

#chordTable{
	float:left;
}

#triadInversions, #seventhInversions, #altInversions, #susInversions{
	font-size:12px;
	text-align:left;
}

#note, #mode, #playScale, #chordStyle, #displayDots, #displayRings{
	width:100%;
}

table{
	border-collapse:collapse;
	margin:5px;
	float:left;
	background:white;
}

table, tr, th{
	background:rgba(0,0,0,0);
}

.roman, .triadChord, .diatonicChord, .susChord{
	border-width:1px;
	border-color:black;
	border-style:solid;
	padding:5px;
	background:white;
	padding-left:24px;
}

.triadChord, .activeSusChord, .diatonicChord{
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
	background-position:left;
	z-index:2;
	cursor:pointer;
}

.susChord{display:none;} /* This is changed dynamically but initially it should be set to hidden. */
#tableControls{display:none;} /* Hide these until everything is loaded */

.enharmonicChord{
	border-width:1px;
	border-color:black;
	border-style:solid;
	background:white;
	padding:0;
	margin:0;
	width:100%;
	display: none; /* This is changed dynamically but initially it should be set to hidden. */
}

#altHeader, #susHeader{display:none;} /* This is changed dynamically but initially it should be set to hidden. */

.altChord{
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
	background-position:left;
	z-index:2;
	padding:5px;
	padding-left:24px;
	border:0;
	cursor:pointer;
}	

.triadChord:hover, .activeSusChord:hover, .diatonicChord:hover, .altChord:hover{
	background:#8888ff;
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
	background-position:left;
}

.roman{width:40px;}
.susChord{width:120px;}
.triadChord{width:150px;}
.diatonicChord{width:200px;}
.enharmonicChord{width:233px;}

.option{
	float:left;
	padding:0;
	margin-right:30px;
	padding-bottom:20px;
	display:none;
}

#restrictWidth{ /* Safari made this one too big */
	width:129px;
}

.optionsGroup{
	clear:both;
	display:block;
}

#scale{
	font-weight:bold;
	padding:5px 0 5px 0;
}


#scaleDisplay{
	width:212px !important;
}